<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
	body {
		text-align: center;
	}

	.hidden {
		display: none;
	}

	</style>
	<title></title>
</head>
<body>
	<h2>Online Spell Checker</h2>
	<form>
		<label>
			<input id="sentence" type="text" name="sentence" placeholder="Your text here">
		</label>
		<label>
			<input id="submit-btn" type="submit">
		</label>
	</form>
	<p id="correct-sentence"></p>
	<img id="loader" src="/static/loading.gif" class="hidden">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script>

	function handleSubmit(evt) {
		evt.preventDefault();
		sentence = $('#sentence').val();
		formInputs = { sentence: sentence }

		$('img').removeClass('hidden');

		$.post('/', formInputs, function(result) {
			$('#correct-sentence').text(result);
			$('img').addClass('hidden');
		});
	}

	$('#submit-btn').click(handleSubmit);

	</script>
</body>
</html>